@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import './variables';
@import './mixins';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

button{
    user-select: none;
}

.layout{
    &-container{
        width: 100%;
        height: 100vh;
        background-color: $primary-color;
    }
    &-header{
        padding-inline: 20px;
    }
    &-title{
        padding-block: 25px;
        @include title($color: $white-color);
    }
    &-content{
        overflow: hidden;
        width: 100%;
        height: calc(100vh - 77px);
        padding-inline: 20px;
        padding-top: 30px;
        background-color: $white-color;
        border-radius: 30px 30px 0 0;
        &:has(.products-container){
            padding-inline: 0;
        }
        @include centralize($direction: column, $justify: flex-start);
        &-title{
            @include title($color: $black-color);
            margin-bottom: 30px;
        }
        &:has(.products-container){
            padding-top: 20px;
        }
    }
    &-modal{
        background: #00000060;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 95;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        &-box{
            width: 100%;
            gap: 15px;
            padding: 30px;
            background-color: $white-color;
            border-radius: 10px;
            @include centralize($direction: column);
            button{
                margin-top: 0;
                text-transform: uppercase;
                width: fit-content;
                padding: 15px 30px;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.15em;
            }
        }
        &-title, &-text{
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            letter-spacing: 0.05em;

            color: #000000;
        }
        &-text{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
        }
    }
    &-filter{
        &-item{
            @include centralize($direction: column);
            gap: 8px;
            input{
                display: none;
            
            &:checked{
                ~ .layout-filter-box{
                    background-color: $primary-color;
                    svg{
                        filter: brightness(100);
                    }
                }
                ~ .layout-filter-label{
                    font-weight: bold;
                }
            } 
        }
        }
        &-box{
            @include centralize;
            width: 99px;
            height: 99px;
            border-radius: 50%;
            background-color: $light-gray-color;
        }
        &-label{
            font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.05em;

color: #000000;
        }
        &-container{
            width: 100%;
            flex-wrap: wrap;
            row-gap: 30px;
            margin-bottom: 15px;
            @include centralize();
            justify-content: space-between;
        }
    }
    &-button{
        margin-top: 30px;
        width: 100%;
        height: 50px;
        max-height: 50px;
        border-radius: 10px;
        background-color: $primary-color;
        @include centralize;
        outline: none;
        border: none;
        a, &{
            color: $white-color;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.15em;
            width: 100%;
            height: 100%;
            @include centralize;
            text-decoration: none;
        }
        &-label{
            text-transform: uppercase;
            margin-block: 10px !important;
            height: fit-content !important;
            width: 100%;
            background: none;
            border: none;
            font-weight: 700;
font-size: 12px;
line-height: 15px;

letter-spacing: 0.05em;
color: $dark-gray-color;
        }
    }
}

.filter-container {
    background-color: $white-color;
    z-index: 10;
    width: 100vw;
    position: sticky;
    border-radius: 30px 30px 0 0;
    padding: 20px;
    padding-top: 0;
    @include centralize(space-between);
    padding-bottom: 10px;
    .filter-button {
        width: 158px;
        height: 50px;
        border-radius: 10px;
        background-color: $light-gray-color;
        @include centralize;
        gap: 12px;
        font-weight: 600;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
letter-spacing: 0.08em;
color: #C75E6D;
    }
}

.filter {
    &-content {
        @include centralize(flex-end);
        gap: 12px;
        position: relative;
    }
    &-wrapper {
        border-radius: 10px;
        @include centralize;
        background-color: $light-gray-color;
        overflow-y: scroll;
        max-height: 175px;
        z-index: 10;
        top: 50px;
        left: 0;
        width: 158px;
        position: absolute;
        justify-content: flex-start;
        scroll-snap-type: y mandatory;
        flex-direction: column;
        span {
            color: $dark-gray-color;
            font-weight: 500;
            border-radius: 10px;
            min-height: calc(175px / 3);
            scroll-snap-align: start;
            width: 100%;
            @include centralize;
            text-align: center;
        }
    }
    &-active {
        background-color: $dark-gray-color;
        border: 3px solid $light-gray-color;
        color: $white-color !important;
    }
    &-input {
        height: 55px;
        .span-input {
            left: auto !important;
        }
    }
    &-icon {
        padding: 10px;
        height: 50px;
        border-radius: 10px;
        background-color: $primary-color;
        @include centralize;
        gap: 12px;
        svg {
            filter: brightness(100);
            width: 25px;
            height: 25px;
            &:last-child{
                width: 13px;
                height: 13px;
            }
        }
    }
}

.products-container{
    width: 100%;  
    -webkit-margin-bottom-collapse: 10px;
    gap: 30px 12px;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-inline: 20px;
    @include centralize($justify: space-between, $align: flex-start);
    position: relative;
    .shadow{
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 50%,
            #ffffff 100%
          );
          position: sticky;
          bottom: 0;
          width: 100%;
          height: 35px;
          margin-top: -50px;
    }
    .shelfProduct{
        width: 157px;
        background-color: $light-gray-color;
        border-radius: 10px;
        padding: 12px;
        gap:10px;
        @include centralize(flex-start, flex-start, column);
        @media only screen and (max-width: 370px) {
        width: 150px;
          }
        @media only screen and (max-width: 355px) {
        width: 41vw;
          }
        @media only screen and (max-width: 325px) {
        width: 100%;
          }
        &-image{
            width: 100%;
            border-radius: 10px;
        }
        &-name{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            color: $black-color;
        }
        &-price{
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 0.08em;
            color: #C75E6D;
        }
        button{
            height: 45px;
            margin-top: 10px;
            a{
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
            }
        }
        &Checkbox{
            @include centralize;
            gap: 6px;
            font-weight: 600;
font-size: 12px;
letter-spacing: 0.05em;
color: #C75E6D;
            &::before{
                content: '';
                @include centralize;
                width: 15px;
                height: 15px;
                border-radius: 3px;
                background-color: $white-color;
                border: 2px solid $primary-color;
            }
            &::after{
                content: "Reservar";
            }
            &:has(
                input:checked
            ){
                &::before{
                content: 'X';
                    color: $white-color;
                    background-color: $primary-color;
                }
                &::after{
                    content: "Você reservou!";
                }
            }
   
            input{
                display: none;
            }
        }
        &Reservated{
            background-color: #ADADAD;
            .shelfProduct{
                &-name{
                    color: $white-color;
                }
                &-price{
                    color: $white-color;

                }
            }
            .layout-button{
                background: none;
                border: 1px solid $light-gray-color;
                a{
                    color: $white-color;
                }
                &-label{
                    display: none;
                }
            }
        }
        &Wish{
            background-color: $primary-color;
            position: relative;
            .giftBox{
                position: absolute;
                top: -5px;
                right: -5px;
                width: 39px;
                height: 39px;
                background-color: #ADADAD;
                border-radius: 5px;
                @include centralize;
            }
            .shelfProduct{
                &-name{
                    color: $white-color;
                }
                &-price{
                    color: $white-color;
                }
            }
            .layout-button{
                background: $white-color;
                a{
                    color: $primary-color;
                }
                &-label{
                    display: none;
                }
            }
        }
    }
}

.info-button{
    @include centralize($justify: space-between);
    margin-block: 20px;
    width: 100%;
    padding-inline: 20px;
    p{
        font-size: 14px;
    }
    button{
        margin: 0;
        width: fit-content;
        height: 40px;
        padding-inline: 20px;
        gap: 10px;
        background-color: $light-gray-color;
        a:empty{
            display: none;
        }
        svg{
            height: 25px;
        }
    }
}

.input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: $light-gray-color;
    padding-inline: 20px;
    &-price{
        @include centralize($justify: flex-start, $align: flex-end);
        gap: 15px;
        width: 100%;
        margin-bottom: 25px;
        svg{
            min-width: 124px;
        }
        img{
            min-width: 124px;
            height: 76px;
            object-fit: cover;
            border-radius: 10px;
        }
        .inputContainer{
        max-width: 60%;
            margin: 0;
        }
    }
    &-double{
        @include centralize($justify: space-between);
        gap: 15px;
        .inputContainer{
            max-width: 50%;
                margin: 0;
                input{
                    overflow: hidden;
    text-overflow: ellipsis;
                }
            }
    }
    &::placeholder{
        color: #777777;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
    }
    &Container{
        @include centralize($align: flex-start,$direction: column);
        gap: 10px;
        width: 100%;
        margin-bottom: 25px;

    }
    &Label{font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        color: #000000;
    }
    &-category{
        &-container{
            gap: 10px;
            width: 100%;
            @include centralize($direction: column, $align: flex-start);
            margin-bottom: 25px;
        }
        &-items{
            width: 100%;
            @include centralize($justify: space-between);
        }
        &-item{
            input{
                display: none;
            
             &:checked{
                ~ .input-category-box{
                    background-color: $primary-color;
                    svg{
                        filter: brightness(100);
                    }
                }
            } 
        }
        }
        &-box{
            @include centralize();
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $light-gray-color;
            svg{
                width: 25px;
                height: 25px;
                filter: grayscale(1.5);
            }
        }
    }
}