@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import './variables';
@import './mixins';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

button{
    user-select: none;
}
#root{
    @include centralize;
    background: $primary-color;
}

.layout{
    &-container{
        width: 100%;
        max-width: 600px;
        height: 100vh;
        background-color: $primary-color;
        &-initialPage{
            .layout-header{
                
                @include centralize;
                padding-block: 20px;
            
            }
            .layout-content{
                height: calc(100vh - 240px);
            }
            .inputContainer{
                margin-bottom: 0;
            }
        }
       
    }
    &-header{
        padding-inline: 20px;
        .logo{
            height: 25px;
            @media only screen and (min-width: 1125px) {
                display: none;
            }
            &-initial{
                height: 200px;
            }
        }
        .flower{
            &-title{
                position: absolute;
                top: -5px;
                left: 0;
                @media only screen and (min-width: 600px) {
                 display: none;
                }
            }
            &-background, &-background-2{
                display: none;
                position: absolute;
                top: 10%;
                left: 0;
                @media only screen and (min-width: 600px) {
                    width: 30%;
                    display: block;
                }
                &-2{
                    top: 40%;
                    right: 0;
                    left: auto;
                    width: 27%;
                    transform: rotateY(180deg) rotateX(180deg);
            }
            }
        }
        .footer-desktop{
            display: none;
            position: fixed;
            left: 50px;
            bottom: 50px;
            width: 200px;
            opacity: 70%;
            @media only screen and (min-width: 1125px) {
                display: block;
            }
        }
        &-content{
            @include centralize($justify: space-between);
            @media only screen and (min-width: 1125px) {
                justify-content: center;
            }
        }
    }
    &-title{
        padding-block: 20px;
        @include title($color: $white-color);
    }
    &-content{
        overflow: hidden;
        width: 100%;
        height: calc(100vh - 67px);
        padding-inline: 20px;
        padding-top: 30px;
        background-color: $white-color;
        border-radius: 30px 30px 0 0;
        &:has(.edit-container){
            .info-button{
                button{
                    &:first-child{
                        background-color: $primary-color;
                        svg{
                            filter: brightness(100);
                        }
                    }
                }
            }
        }
        &:has(.products-container){
            padding-top: 10px;
            padding-inline: 0;
        }
        &:has(.layout-filter-container){
            .layout-button{
                &:last-child{
                    position: fixed;
                    right: 20px;
                    bottom: 15px;
                    margin: 0;
            width: fit-content;
            height: 40px;
            padding-inline: 20px;
            gap: 10px;
            background-color: $light-gray-color;
            svg{
                height: 25px;
            }
                }
            }
        }
        @include centralize($direction: column, $justify: flex-start);
        &-title{
            @include title($color: $black-color);
            text-align: center;
            margin-bottom: 30px;
        }
        .react-code-input{
            margin-top: 6px;
        }
    }
    &-modal{
        background: #00000060;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 95;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        &-box{
            width: 100%;
            max-width: 400px;
            gap: 15px;
            padding: 30px;
            background-color: $white-color;
            border-radius: 10px;
            @include centralize($direction: column);
            button{
                margin-top: 0;
                text-transform: uppercase;
                width: fit-content;
                padding: 15px 30px;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.15em;
            }
        }
        &-title, &-text{
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            letter-spacing: 0.05em;

            color: #000000;
        }
        &-text{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
        }
    }
    &-filter{
        &-item{
            @include centralize($direction: column);
            gap: 8px;
            input{
                display: none;
            
            &:checked{
                ~ .layout-filter-box{
                    background-color: $primary-color;
                    svg{
                        filter: brightness(100);
                    }
                }
                ~ .layout-filter-label{
                    font-weight: bold;
                }
            } 
        }
        }
        &-box{
            cursor: pointer;
            @include centralize;
            width: 99px;
            height: 99px;
            border-radius: 50%;
            background-color: $light-gray-color;
        }
        &-label{
            font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.05em;

color: #000000;
        }
        &-container{
            width: 100%;
            flex-wrap: wrap;
            row-gap: 30px;
            margin-bottom: 15px;
    max-width: 413px;

            @include centralize();
            justify-content: space-between;
            @media only screen and (min-width: 430px) {
                gap: 20px;
                }
        }
    }
    &-button{
        cursor: pointer;
        margin-top: 30px;
        width: 100%;
        max-width: 413px;
        height: 50px;
        max-height: 50px;
        border-radius: 10px;
        background-color: $primary-color;
        @include centralize;
        outline: none;
        border: none;
        a, &{
            color: $white-color;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.15em;
            width: 100%;
            height: 100%;
            @include centralize;
            text-decoration: none;
        }
        &-label{
            text-transform: uppercase;
            margin-block: 10px !important;
            height: fit-content !important;
            width: 100%;
            background: none;
            border: none;
            font-weight: 700;
font-size: 12px;
line-height: 15px;
cursor: pointer;
letter-spacing: 0.05em;
color: $dark-gray-color;
        }
        &-secondary{
            width: fit-content;
            height: fit-content;
            color: $primary-color;
            background: none;
            font-weight: 700;
            line-height: 16px;
            border-radius: 0;
            a{
                color: $primary-color;
            }
        }
        &-tertiary{
            position: fixed;
            right: 20px;
            bottom: 15px;
            margin: 0;
            width: fit-content;
            height: 40px;
            padding-inline: 20px;
            gap: 10px;
            background-color: $light-gray-color;
            svg{
                height: 25px;
            }
        }
    }
}

.filter-container {
    background-color: $white-color;
    z-index: 10;
    width: 100%;
    position: sticky;
    border-radius: 30px 30px 0 0;
    padding: 20px;
    padding-top: 0;
    @include centralize(space-between);
    padding-bottom: 10px;
    .filter-button {
        cursor: pointer;
        width: 140px;
        height: 45px;
        border-radius: 10px;
        background-color: $light-gray-color;
        @include centralize;
        gap: 12px;
        font-weight: 600;
font-size: 14px;
line-height: 20px;
text-transform: uppercase;
letter-spacing: 0.08em;
color: #C75E6D;
svg{
    width: 25px
}
    }
}

.filter {
    &-content {
        @include centralize(flex-end);
        gap: 12px;
        position: relative;
    }
    &-wrapper {
        border-radius: 10px;
        @include centralize;
        background-color: $light-gray-color;
        overflow-y: scroll;
        max-height: 175px;
        z-index: 10;
        top: 45px;
        left: 0;
        width: 140px;
        position: absolute;
        justify-content: flex-start;
        scroll-snap-type: y mandatory;
        flex-direction: column;
        &::-webkit-scrollbar {
            width: 5px;
          }
  
          &::-webkit-scrollbar-track {
            background: $light-gray-color;
            border-radius: 44px;
          }
  
          &::-webkit-scrollbar-thumb {
            background: $dark-gray-color;
            border-radius: 42px;
          }
        span {
            cursor: pointer;
            color: $dark-gray-color;
            font-weight: 500;
            border-radius: 10px;
            min-height: calc(175px / 3);
            scroll-snap-align: start;
            width: 100%;
            @include centralize;
            text-align: center;
        }
    }
    &-active {
        background-color: $dark-gray-color;
        border: 3px solid $light-gray-color;
        color: $white-color !important;
    }
    &-input {
        height: 55px;
        .span-input {
            left: auto !important;
        }
    }
    &-icon {
        cursor: pointer;
        padding: 10px;
        height: 45px;
        border-radius: 10px;
        background-color: $primary-color;
        @include centralize;
        gap: 12px;
        svg {
            filter: brightness(100);
            width: 20px;
            height: 20px;
            &:last-child{
                width: 13px;
                height: 13px;
            }
        }
    }
}

.products-container{
    width: 100%;  
    -webkit-margin-bottom-collapse: 10px;
    gap: 20px 12px;
    padding-top: 6px;
    margin-bottom: 75px;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    padding-inline: 20px;
    @include centralize($justify: space-between, $align: flex-start);
    position: relative;
            @media only screen and (min-width: 430px) {
                justify-content: center;
            }
    &:has(.skeleton-card-edit),
    &:has(.skeleton-card){
        overflow-y: hidden !important;
    }
    &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: $light-gray-color;
        border-radius: 44px;
      }

      &::-webkit-scrollbar-thumb {
        background: $dark-gray-color;
        border-radius: 42px;
      }
    .shadow{
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 70%,
            #ffffff 100%
          );
          position: sticky;
          bottom: 0;
          width: 100%;
          height: 35px;
          margin-top: -50px;
    }
    .shelfProduct{
        position: relative;
        width: 157px;
        background-color: $light-gray-color;
        border-radius: 10px;
        padding: 12px;
        gap:10px;
        @include centralize(flex-start, flex-start, column);
        @media only screen and (max-width: 370px) {
        width: 150px;
          }
        @media only screen and (max-width: 355px) {
        width: 41vw;
          }
        @media only screen and (max-width: 325px) {
        width: 100%;
          }
          &-box-image{
              height: 133px;
              width: 100%;
              @include centralize;
              background-color: white;
              overflow: hidden;
              border-radius: 10px;
            }
            &-image{
                font-size: 14px;
                color: $primary-color;
                font-weight: 600;
            width: 100%;
            object-fit: contain;
        }
        &-name{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            color: $black-color;
        }
        &-price{
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 0.08em;
            color: #C75E6D;
        }
        button{
            height: 45px;
            margin-top: 10px;
            &, a{
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
            }
        }
        &Checkbox{
            @include centralize;
            gap: 6px;
            font-weight: 600;
font-size: 12px;
letter-spacing: 0.05em;
color: #C75E6D;
            &::before{
                content: '';
                @include centralize;
                width: 15px;
                height: 15px;
                border-radius: 3px;
                background-color: $white-color;
                border: 2px solid $primary-color;
            }
            &::after{
                content: "Reservar";
            }
            &:has(
                input:checked
            ){
                &::before{
                content: 'X';
                    color: $white-color;
                    background-color: $primary-color;
                }
                &::after{
                    content: "Você reservou!";
                }
            }
   
            input{
                display: none;
            }
        }
        &-unavailable{
            .shelfProduct{
                &-price{
                    color: $dark-gray-color;

                }
            }
            .layout-button{
                background: none;
                border: 1px solid $dark-gray-color;
                &, a{
                    color: $dark-gray-color;
                }
                &-label{
                    display: none;
                }
            }
        }
        &-reserved{
            background-color: $primary-color;
          
            .shelfProduct{
                &-name{
                    color: $white-color;
                }
                &-price{
                    color: $white-color;
                }
            }
            .layout-button{
                background: $white-color;
                border: none;
                &, a{
                    color: $primary-color;
                }
                &-label{
                    display: none;
                }
            }
        }
        .giftBox{
            cursor: pointer;
            position: absolute;
            top: -5px;
            right: -5px;
            width: 39px;
            height: 39px;
            background-color: $primary-color;
            border-radius: 5px;
            @include centralize;
            &Animated{
                animation: shake-lr 2s ease-in-out infinite;
            }
        }
        &-unavailable, &-reserved{
            .giftBox{
                background-color: $dark-gray-color;
            }
        }
    }
}

.edit-container{
    gap: 15px;
}

@keyframes shake-lr {
    0%,
    25%,
    100%{
        transform: rotate(0deg);
    }
    10%,
    20%
    {
        transform: rotate(8deg);
    }
    5%,
    15%
    {
        transform: rotate(-8deg);
    }
  }

.info-button{
    @include centralize($justify: space-between);
    width: 100%;
    max-width: 600px;
    padding: 15px 20px;
    position: fixed;
    background: $white-color;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    p{
        line-height: 18px;
        font-size: 14px;
        margin-right: 20px;
    }
    :not(button){
        svg{
            animation: shake-lr 2s ease-in-out infinite;
            height: 18px;
            width: 18px;
            padding: 2px;
            border-radius: 3px;
            background-color: $primary-color;
            margin-bottom: -5px;
        }
    }
    button{
        margin: 0;
        width: fit-content;
        height: 40px;
        padding-inline: 20px;
        gap: 10px;
        background-color: $light-gray-color;
        a:empty{
            display: none;
        }
        svg{
            height: 25px;
        }
    }
}

.input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: $light-gray-color;
    padding-inline: 20px;
    &-price{
        @include centralize($justify: flex-start, $align: flex-end);
        gap: 15px;
        width: 100%;
        margin-bottom: 25px;
        svg{
            min-width: 124px;
        }
        img{
            min-width: 124px;
            height: 76px;
            object-fit: cover;
            border-radius: 10px;
        }
        .inputContainer{
        max-width: 60%;
            margin: 0;
        }
    }
    &-double{
        @include centralize($justify: space-between);
        gap: 15px;
        .inputContainer{
            max-width: 50%;
                margin: 0;
                input{
                    overflow: hidden;
    text-overflow: ellipsis;
                }
            }
    }
    &::placeholder{
        color: #777777;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
    }
    &Container{
        @include centralize($align: flex-start,$direction: column);
        gap: 10px;
        width: 100%;
        margin-bottom: 25px;
        max-width: 413px;

    }
    &Label{font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.05em;
        color: #000000;
    }
    &-category{
        &-container{
            gap: 10px;
            width: 100%;
            @include centralize($direction: column, $align: flex-start);
            margin-bottom: 25px;
        }
        &-items{
            width: 100%;
            @include centralize($justify: space-between);
        }
        &-item{
            cursor: pointer;
            input{
                display: none;
            
             &:checked{
                ~ .input-category-box{
                    background-color: $primary-color;
                    svg{
                        filter: brightness(100);
                    }
                }
            } 
        }
        }
        &-box{
            @include centralize();
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $light-gray-color;
            svg{
                width: 25px;
                height: 25px;
                filter: grayscale(1.5);
            }
        }
    }
}

form{
    margin-bottom: 30px;
}

.skeleton{
    &-card{
        &, &-edit{

            padding: 12px;
            @include centralize($direction: column, $justify: flex-start, $align: flex-start);
            gap: 10px;
            width: 145px;
            height: 279px;
            background-color: $light-gray-color;
            border-radius: 10px;
            background: linear-gradient(
                120deg,
                $light-gray-color 30%,
                $white-color 38%,
                $white-color 40%,
                $light-gray-color 48%
            );
            background-size: 200% 100%;
            background-position: 100% 0;
            animation: load 1s infinite;
        }
        &-edit{
            width: 100%;
    height: 60px;

        }
    }
    &-image{
        width: 100%;
        height: 133px;
        background-color: $white-color;
        border-radius: 10px;
        opacity: 50%;
    }
    &-name,
        &-price,
        &-button{
        width: 80%;
        border-radius: 5px;
        height: 15px;
        background-color: $white-color;
        opacity: 50%;
    }
    &-price{
        width: 60%;
        height: 20px;
    }
    &-button{
        margin-top: 10px;
        width: 100%;
        height: 45px;
    }
    
}

@keyframes load {
    100% {
        background-position: -100% 0;
    }
}

@keyframes vtex-spinner-rotate {
  from {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  to {
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

.rotate {
  transform-origin: 50% 50%;
  animation: vtex-spinner-rotate 0.5s infinite linear;
}

.shelfEdit{
    @include centralize($justify: flex-start);
    gap: 16px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: $light-gray-color;
    padding: 6px;
    position: relative;
    .giftBox{
        cursor: pointer;
        position: absolute;
        top: -5px;
        right: -5px;
        width: 35px;
        height: 35px;
        background-color: $primary-color;
        border-radius: 5px;
        @include centralize;
        &-unavailable{
            background-color: $dark-gray-color;
        }
    }
    &Image{
        background-color: $white-color;
        @include centralize;
        height: 46px;
        min-width: 46px;
        max-width: 46px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        .icon-edit{
            @include centralize;
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            svg{
                filter: brightness(100);
            }
        }
        img{
            object-fit: contain;
            min-width: 100%;
        }
    }
    &Name, &User{
        width: 80%;
        font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.05em;
white-space: nowrap;
overflow: hidden;
    text-overflow: ellipsis;
    }
    &User{
        font-weight: 600;
    }
    &Content{
        width: 100%;
        gap: 5px;
        @include centralize($align: flex-start, $direction: column);
    }
}
